{%- macro display_comments_container(comments, post_id, logged_in_user=None) %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
<div class="comment-container">
		<h2>Comments</h2>
		{% if comments %}
			{% for comment in comments %}
				<div class="comment">
					<div class="about">
						<a href="{{ url_for('profile.view_profile', user_id=comment['author_id']) }}">{{ comment["username"] }}</a> on {{ comment["created"] }}:
					</div>
					<div class="body">
						{{ comment["body"] }}
					</div>
					{% if g.user['id'] == comment['author_id'] %}
						<form action="{{ url_for('comments.delete', id=comment['id']) }}" method="post">
							<button class="btn-link" type="submit"><i class="fa fa-trash-o"></i></button>
						</form>
					{% endif %}

				</div>
			{% endfor %}
		{% else %}
			<i>No comments yet.</i>
		{% endif %}
		{% if logged_in_user %}
			<form action="{{ url_for('comments.create') }}" method="post">
				<input type="hidden" name="post_id" value="{{ post_id }}">
				<textarea name="body" class="body">Add a comment...</textarea>
				<button class="send" type="submit">send	</button>

			</form>
		{% endif %}
	</div>
{% endmacro -%}